:root{
	--backgroundColor: #6FBFE0;
	--title-color: white;
	--author-color: #ffff84;
}

.listen{
	font-family: 'Ubuntu', sans-serif;
}

.row + .row{
	margin-top: 14px;
}

@media screen and (min-width: 1001px){
	.interface > article, .technical > article{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}