:root{
	--backgroundColor: #373744ff;
	--title-color: white;
	--author-color: #ffa444;
}

.automaTA{
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
}

.automaTA:after{
	content: "TA";
	color: #ffa444;
}