:root{
	--backgroundColor: #373744ff;
	--orange-color: #ffa444;
}

body{
	font-family: 'Raleway', sans-serif;
	background-color: var(--white-color);
	font-size: 16px;
	padding-bottom: 20px;
}

.title{
	background-color: var(--backgroundColor);
	text-align: center;
	padding: 12px;
    color: white;
}

.automaTA{
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
}

.automaTA:after{
	content: "TA";
	color: #ffa444;
}

.section-box{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 8px;
}

.section-box + .purple{
	background-color: var(--backgroundColor);
	color: white;
}

@media screen and (min-width: 401px){
	.abstract{
		padding-left: 50px;
		padding-right: 50px;
		text-align: justify;
		padding-bottom: 20px;
	}

	.interface > article, .training > article{
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media screen and (max-width: 400px){
	h1{
		font-size: 24px;
	}

	.abstract{
		padding-left: 20px;
		padding-right: 20px;
		text-align: justify;
		padding-bottom: 20px;
	}
}

.authors{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 12px;
}

.authors > section > a{
	text-align: center;
	text-decoration: none;
}

.authors > section > a > figure > img{
	max-width: 140px;
	height: auto;
	border: 2px solid var(--orange-color);
	border-radius: 50%;
}

.authors > section > a > figcaption{
	color: white;
	text-decoration: none;
}

.authors > section > a[href]:hover > figcaption{
	color: var(--orange-color);
}

/*INTERFACE & TRAINING*/

.interface > figure > img, .training > figure > img{
	width: 100%;
}


h1{

}

h2{
	margin-top: 8px;
	font-weight: bold;
}