/*

Name:       Base16 Atelier Sulphurpool Light
Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

 */
@media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
	code[class*="language-"],
	pre[class*="language-"] {
		font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
		font-size: 14px;
		line-height: 1.375;
		direction: ltr;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
		background: #f5f7ff;
		color: #5e6687;
	}

	pre > code[class*="language-"] {
		font-size: 1em;
	}

	pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
	code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
		text-shadow: none;
		background: #dfe2f1;
	}

	pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
	code[class*="language-"]::selection, code[class*="language-"] ::selection {
		text-shadow: none;
		background: #dfe2f1;
	}

	/* Code blocks */
	pre[class*="language-"] {
		padding: 1em;
		margin: .5em 0 1.45rem;
		overflow: auto;
	}

	/* Inline code */
	:not(pre) > code[class*="language-"] {
		padding: .1em;
		border-radius: .3em;
	}

	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: #898ea4;
	}

	.token.punctuation {
		color: #5e6687;
	}

	.token.namespace {
		opacity: .7;
	}

	.token.operator,
	.token.boolean,
	.token.number {
		color: #c76b29;
	}

	.token.property {
		color: #c08b30;
	}

	.token.tag {
		color: #3d8fd1;
	}

	.token.string {
		color: #22a2c9;
	}

	.token.selector {
		color: #6679cc;
	}

	.token.attr-name {
		color: #c76b29;
	}

	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string {
		color: #22a2c9;
	}

	.token.attr-value,
	.token.keyword,
	.token.control,
	.token.directive,
	.token.unit {
		color: #ac9739;
	}

	.token.statement,
	.token.regex,
	.token.atrule {
		color: #22a2c9;
	}

	.token.placeholder,
	.token.variable {
		color: #3d8fd1;
	}

	.token.deleted {
		text-decoration: line-through;
	}

	.token.inserted {
		border-bottom: 1px dotted #202746;
		text-decoration: none;
	}

	.token.italic {
		font-style: italic;
	}

	.token.important,
	.token.bold {
		font-weight: bold;
	}

	.token.important {
		color: #c94922;
	}

	.token.entity {
		cursor: help;
	}

	pre > code.highlight {
		outline: 0.4em solid #c94922;
		outline-offset: .4em;
	}

	/* overrides color-values for the Line Numbers plugin
     * http://prismjs.com/plugins/line-numbers/
     */
	.line-numbers .line-numbers-rows {
		border-right-color: #dfe2f1;
	}

	.line-numbers-rows > span:before {
		color: #979db4;
	}

	/* overrides color-values for the Line Highlight plugin
     * http://prismjs.com/plugins/line-highlight/
     */
	.line-highlight {
		background: rgba(107, 115, 148, 0.2);
		background: -webkit-linear-gradient(left, rgba(107, 115, 148, 0.2) 70%, rgba(107, 115, 148, 0));
		background: linear-gradient(to right, rgba(107, 115, 148, 0.2) 70%, rgba(107, 115, 148, 0));
	}
}

/**
 * Darcula theme
 *
 * Adapted from a theme based on:
 * IntelliJ Darcula Theme (https://github.com/bulenkov/Darcula)
 *
 * @author Alexandre Paradis <service.paradis@gmail.com>
 * @version 1.0
 */

@media (prefers-color-scheme: dark) {
	code[class*="language-"],
	pre[class*="language-"] {
		color: #a9b7c6;
		font-family: Consolas, Monaco, 'Andale Mono', monospace;
		direction: ltr;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		line-height: 1.5;

		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;

		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}

	pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
	code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
		color: inherit;
		background: rgba(33, 66, 131, .85);
	}

	pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
	code[class*="language-"]::selection, code[class*="language-"] ::selection {
		color: inherit;
		background: rgba(33, 66, 131, .85);
	}

	/* Code blocks */
	pre[class*="language-"] {
		padding: 1em;
		margin: .5em 0 1.45rem;
		overflow: auto;
	}

	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background: #2b2b2b;
	}

	/* Inline code */
	:not(pre) > code[class*="language-"] {
		padding: .1em;
		border-radius: .3em;
	}

	.token.comment,
	.token.prolog,
	.token.cdata {
		color: #808080;
	}

	.token.delimiter,
	.token.boolean,
	.token.keyword,
	.token.selector,
	.token.important,
	.token.atrule {
		color: #cc7832;
	}

	.token.operator,
	.token.punctuation,
	.token.attr-name {
		color: #a9b7c6;
	}

	.token.tag,
	.token.tag .punctuation,
	.token.doctype,
	.token.builtin {
		color: #e8bf6a;
	}

	.token.entity,
	.token.number,
	.token.symbol {
		color: #6897bb;
	}

	.token.property,
	.token.constant,
	.token.variable {
		color: #9876aa;
	}

	.token.string,
	.token.char {
		color: #6a8759;
	}

	.token.attr-value,
	.token.attr-value .punctuation {
		color: #a5c261;
	}

	.token.attr-value .punctuation:first-child {
		color: #a9b7c6;
	}

	.token.url {
		color: #287bde;
		text-decoration: underline;
	}

	.token.function {
		color: #ffc66d;
	}

	.token.regex {
		background: #364135;
	}

	.token.bold {
		font-weight: bold;
	}

	.token.italic {
		font-style: italic;
	}

	.token.inserted {
		background: #294436;
	}

	.token.deleted {
		background: #484a4a;
	}

	code.language-css .token.property,
	code.language-css .token.property + .token.punctuation {
		color: #a9b7c6;
	}

	code.language-css .token.id {
		color: #ffc66d;
	}

	code.language-css .token.selector > .token.class,
	code.language-css .token.selector > .token.attribute,
	code.language-css .token.selector > .token.pseudo-class,
	code.language-css .token.selector > .token.pseudo-element {
		color: #ffc66d;
	}
}
