:root{
	--backgroundColor: #333;
	--title-color: white;
	--author-color: #ffff84;
}

.melodize{
	font-family: 'Amita', sans-serif;
}

@media screen and (min-width: 1001px){
	.technical > figure > img{
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}