:root{
	--backgroundColor: #333;
	--yellow-color: #ffff84;
}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	padding-bottom: 20px;
}

.title{
	background-color: var(--backgroundColor);
	text-align: center;
	padding: 12px;
    color: white;
}

.melodize{
	font-family: 'Amita', sans-serif;
}

.section-box{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 8px;
}

.section-box + .purple{
	background-color: var(--backgroundColor);
	color: white;
}

@media screen and (min-width: 1001px){
	.interface > article, .technical > article{
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media screen and (min-width: 401px){
	.abstract{
		padding-left: 50px;
		padding-right: 50px;
		text-align: justify;
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 400px){
	h1{
		font-size: 24px;
	}

	.abstract{
		padding-left: 20px;
		padding-right: 20px;
		text-align: justify;
		padding-bottom: 20px;
	}
}

.authors{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 12px;
}

.authors > section > a{
	text-align: center;
	text-decoration: none;
}

.authors > section > a > figure > img{
	max-width: 140px;
	height: auto;
	border: 2px solid var(--yellow-color);
	border-radius: 50%;
}

.authors > section > a > figcaption{
	color: white;
	text-decoration: none;
}

.authors > section > a[href]:hover > figcaption{
	color: var(--yellow-color);
}

/*INTERFACE & TECHNICAL*/

.interface > figure > img, .technical > figure > img{
	width: 100%;
}

.video-container{
	float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
 
iframe{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 97%;
    margin-left: auto;
    margin-right: auto;
}

h1{

}

h2{
	margin-top: 8px;
	font-weight: bold;
}